:host {
    // COLORS
    --tui-background-base: #F67553;
    --tui-background-accent-1: #FFF500;
    --tui-text-primary-on-accent-1: #5AA7F7;
    --tui-background-neutral-1: rgba(255, 255, 255, 0.2);
    --tui-text-action: #285d96;
    // TYPOGRAPHY
    --tui-typography-body-s: 700 calc(var(--tui-font-offset) + 0.875rem) / calc(20 / 14) var(--tui-typography-family-text);
    --tui-typography-body-xs: 700 calc(var(--tui-font-offset) + 0.75rem) / calc(16 / 12) var(--tui-typography-family-text);
    --tui-typography-body-m: 700 calc(var(--tui-font-offset) + 1rem) / calc(24 / 16) var(--tui-typography-family-text);
    --tui-typography-ui-xxl: 700 calc(var(--tui-font-offset) + 1.8rem) / calc(24 / 17) var(--tui-typography-family-text);
    --tui-typography-ui-xl: 700 calc(var(--tui-font-offset) + 1.4rem) / calc(24 / 17) var(--tui-typography-family-text);
    --tui-typography-ui-l: 700 calc(var(--tui-font-offset) + 1.0625rem) / calc(24 / 17) var(--tui-typography-family-text);
    --tui-typography-ui-m: 700 calc(var(--tui-font-offset) + 1rem) / calc(20 / 16) var(--tui-typography-family-text);
    --tui-typography-ui-s: 700 calc(var(--tui-font-offset) + 0.875rem) / calc(16 / 14) var(--tui-typography-family-text);
    --tui-typography-ui-xs: 700 calc(var(--tui-font-offset) + 0.75rem) / calc(15 / 12) var(--tui-typography-family-text);
    --tui-typography-ui-2xs: 700 calc(var(--tui-font-offset) + 0.6875rem) / calc(12 / 11) var(--tui-typography-family-text);

    --tui-thickness: 1rem;
}