<div class="main-container">
    <tui-stepper orientation="horizontal" [activeItemIndex]="0" class="horizontal-connected-stepper">
        <button icon="@tui.presentation" stepState="pass" tuiStep>
            Presentación
        </button>
        <button tuiStep icon="@tui.notebook-pen">Calificación</button>
        <button disabled icon="@tui.chart-column" tuiStep>
            Resultados
        </button>
    </tui-stepper>
    <tui-tiles class="tiles" [debounce]="100" [(order)]="order">
        @for (item of items; track item) {
        <tui-tile class="tile" [style.order]="order.get($index)" [style.background]="item.baseColor + '59'"
            [style.border-radius]="'var(--tui-radius-l)'">
            <div class="content">
                <!-- OWNER -->
                <h2 class="title">
                    {{item.owner}}
                </h2>
                <!-- PRODUCT -->
                <tui-textfield [ngClass]="{plain: !!item.product}">
                    <input placeholder="Producto" [tuiFluidTypography]="[0.5,2.5]" [(ngModel)]="item.product"
                        tuiInput />
                </tui-textfield>
                <!-- IMAGE -->
                <div class="paste-container" (tuiActiveZoneChange)="onParentActiveZone($event, $index)"
                    (paste)="onPaste($event, $index)" tabindex="0">
                    @if (!item.loadingImage && !item.image) {
                    <div class="paste-message" [class.active]="item.copiadoActivo">
                        Haz clic aquí y pega una dirección de imagen desde el portapapeles
                    </div>
                    }
                    @if (item.loadingImage) {
                    <tui-loader></tui-loader>
                    }
                    <img [src]="item.image" alt="Vista previa de la imagen pegada" (load)="onImagenCargada($index)"
                        [ngClass]="{'ocultar': !item.image}" [class.active]="item.copiadoActivo" />
                </div>
                <!-- PRICE -->
                <tui-textfield>
                    <input class="price" [(ngModel)]="item.price" placeholder="Precio" tuiInputNumber
                        [tuiNumberFormat]="numberFormat" [postfix]="'EUR' | tuiCurrency" />
                </tui-textfield>

                <tui-icon icon="@tui.grip-vertical" tuiTileHandle class="handle" />
                <tui-icon icon="@tui.grip-vertical" tuiTileHandle class="handle" />
            </div>
        </tui-tile>
        }
    </tui-tiles>
</div>